.nav-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.nav-header a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 17px;
    letter-spacing: 2px;
}
.nav-header a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: width .5s;
}

.nav-header a:hover::after {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .nav-header {
      width: 100%;
      clear:both;
    }
  }